.App {

    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    height: 100%;
    margin: 0;
}

.horizontal-header {
    background-color: white;
    text-align: left;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: relative;
}

.title {
    font-weight: bolder;
    color: #00b5ec;
    font-size: 2em;
    text-align: left;
    margin-bottom: 0;
    line-height: 1.2;

}

.title2 {
    font-weight: 800;
    font-size: 2em;
    text-align: left;
    margin-bottom: 0;
    line-height: 1.2;
    background-image: linear-gradient(to top, rgb(99, 20, 141), rgb(32, 211, 193));
    -webkit-background-clip: text;
    color: transparent;
}

.p {
    font-weight: normal;
    font-size: 1em;
    text-align: left;
}

.subText {
    color: white;
}

.navbarTitle {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-align: center;
    font-weight: bold;
}

.horizontal-header img {
    max-width: 100%;
    height: auto;
}

.vertical-header {
    min-width: 11%;
    max-width: 20%;
    background-color: white;
    padding: 1rem;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
    z-index: 3;
position: relative;
}

.nav-list {
    list-style: none;
    text-align: left;
    margin-left: -2rem;
}

.nav-item {
    margin-bottom: 0.5rem;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}

.main-container {
    display: flex;
    flex: 1;
    background: linear-gradient(to bottom, rgb(99, 20, 141), rgb(32, 211, 193));
    z-index: 1;
    position: relative;
}

.main-content {
    flex: 1;
    padding: 1rem;
}