.App {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    height: 100%;
    margin: 0;
}

.horizontal-header {
    background-color: white;
    text-align: left;
    padding: 1rem;
    border-bottom: solid grey;
}

.horizontal-header img {
    max-width: 100%;
    height: auto;

}

.vertical-header {
    min-width: 13%;
    max-width: 20%;
    background-color: white;
    padding: 1rem;
    border-right: solid grey;
}

.nav-list {
    list-style: none;
    text-align: left;
    margin-left: -1rem;
}

.nav-item {
    margin-bottom: 0.5rem;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}

.main-container {
    display: flex;
    flex: 1;
    background: linear-gradient(to right, #EFEFBB, #D4D3DD);
}

.main-content {
    flex: 1;
    padding: 1rem;
}