.App {

    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    height: 100%;
    margin: 0;
}

.horizontal-header {
    background-color: white;
    text-align: left;
    padding: 1rem;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: relative;
}

.title {
    font-weight: bold;
    font-size: 2em;
    text-align: left;
}

.p {
    font-weight: normal;
    font-size: 1em;
    text-align: left;
}

.horizontal-header img {
    max-width: 100%;
    height: auto;
}

.vertical-header {
    min-width: 13%;
    max-width: 20%;
    background-color: white;
    padding: 1rem;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
    z-index: 3;
position: relative;
}

.nav-list {
    list-style: none;
    text-align: left;
    margin-left: -1rem;
}

.nav-item {
    margin-bottom: 0.5rem;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}

.main-container {
    display: flex;
    flex: 1;
    background: linear-gradient(to bottom, rgb(99, 20, 141), rgb(32, 211, 193));
    z-index: 1;
    position: relative;
}

.main-content {
    flex: 1;
    padding: 1rem;
}